div {
    background-color: #CAF3FF;
    border-left: 10px  solid #FF3300;
    border-right: 10px  solid #FF3300;
    padding: 20px;
    margin: 50px;
}
h1 {
    border-bottom: 1px solid #FF3300;
    font-size: 30px;
}
p {
    line-height: 2;
    font-size: 14px;
}